<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <h1>CV</h1>
  <div id="app">
    <span><b>Imie:</b></span>
    <input type="text" v-model="imie">
    <br>
    <br>
    <span><b>Nazwisko: </b></span>
    <input type="text" v-model="nazwisko">
    <br>
    <br>
    <span><b>Wiek: </b></span> 
    <input type="number" v-model="wiek">
    <br>
    <br>
    <span><b>Płeć: </b></span>
    <input type="radio" id="mezczyzna" value="Mezczyzna" v-model="plec"> <label for="mezczyzna">Mezczyzna</label>
    <input type="radio" id="kobieta" value="Kobieta" v-model="plec"> <label for="kobieta">Kobieta</label>
    <br>
    <br>
    <span><b>Wykształcenie:</b></span>
    <select v-model="wyksztalcenie">
        <option disabled value="">Proszę wybrać</option>
        <option>Brak</option>
        <option>Podstawowe</option>
        <option>Średnie</option>
        <option>Wyższe</option>
    </select>
    <br>
    <br>
    <span><b>Umiejętności: </b></span>
    <input type="checkbox" id= "obsługa komputera" value= "Obsługa komputera" v-model="umiejetnosci"> <label for="obsługa komputera">Obsługa komputera</label>
    <input type="checkbox" id="prawo jazdy" value="Prawo jazdy" v-model="umiejetnosci"> <label for="prawo jazdy">Prawo jazdy</label>
    <input type="checkbox" id="kreatywność" value="Kreatywność" v-model="umiejetnosci"> <label for="kreatywność">Kreatywność</label>
    <input type="checkbox" id="praca w zespole" value="Praca w zespole" v-model="umiejetnosci"> <label for="praca w zespole">Praca w zespole</label>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        imie: '',
        nazwisko: '',
        wiek: '',
        plec: '',
        wyksztalcenie: '',
        umiejetnosci: []
      }
    });
  </script>

</body>
</html>